#box {
  width: 51rem;
  height: 38.25rem;
  border: #000000 solid 0.25rem;
}

.boxes {
  width: 3.75rem;
  height: 3.75rem;
  border: #000000 solid 0.25rem;
  float: left;
  text-align: center;
  transition: background-color 600ms ease-in-out;
}

.row {
  width: 51rem;
  height: 4.25rem;
  float: left;
}

.rowshort {
  margin-left: 12.75rem;
  margin-right: 25.5rem;
  width: 12.75rem;
  height: 4.25rem;
  float: left;
}

.bt {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
}

.btw {
  margin-top: 1rem;
  height: 4rem;
  font-size: 3rem;
}

.void {background-color: white;}
.white {background-color: gray;}
.red {background-color: red;}
.blue {background-color: blue;}
.orange {background-color: orange;}
.green {background-color: green;}
.yellow {background-color: yellow;}
